<body>
  <h1>Tienes una solicitus de amistad nueva de <%= link_to(@friendship.user.username, url_for(@friendship.user)) %></h1>
  <%= link_to('ver solicitud', @friendship_url, class: 'btn') %>
</body>
