<div class="comment-actions d-flex d-none">
  <%= link_to t('.edit'), edit_comment_path(comment), class: "d-flex me-2" %>
  <%= link_to t('.delete'), comment_path(comment), method: :delete, data: { confirm: t('.confirm') }, class: "mr-2" %>
</div>
