  <!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
      <h1>Bienvenido a altoconsejo.com, <%= @user.email %></h1>
      <p>
        Se ha identificado como uno de los miembros del Alto Consejo,
        su correo es: <%= @user.email %>.<br>
      </p>
      <p>
        Para acceder al Consejo, por favor pulse en: <%= @url %>.
      </p>
      <p>Prepárese para la aventura.</p>
    </body>
  </html>