<div class="container-fluid">
  <h1>New Notification</h1>

  <%= render 'form', notification: @notification %>

  <%= link_to 'Back', notifications_path, class: "btn btn-light min-width-btn" %>
</div>