<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  
  <%= link_to 'Edit', edit_notification_path(@notification), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', notifications_path, class: "btn btn-light min-width-btn" %>
</div>