
<%= search_form_for @q do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field search_field, class: 'form-control' %>
    <div class="input-group-append">
      <%= f.submit class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>

