<%= button_to(upvote_comment_path(comment), method: :patch, class: "bg-transparent border-0 text-dark p-0") do %>
  <i class="bi bi-heart-fill"></i> <span class="ms-2"><%= comment.cached_votes_up %></span>
<% end %>
