.user-card {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

  .icon-separator {
    margin: 0 10px;
  }

  .info-container {
    display: flex;
    align-items: baseline;
  }

  .nowrap {
    white-space: nowrap;
  }

  .date {
    margin-left: 5px;
  }

  .location-container {
    display: flex;
    align-items: baseline;

    span {
      margin-left: 5px;
    }
  }
}