<% rev = local_assigns[:review] || Review.new %>
<%= form_for([game, rev], html: { class: 'p-3' }) do |f| %>
  <div class="mb-3">
    <%= f.rich_text_area :content, class: 'form-control', required: true %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <%= link_to t('.cancel'), game, class: 'btn btn-link' if f.object.persisted? %>
<% end %>
