
<div class="container mb-5">
    <div class="row">
        <div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
            <div class="app-branding text-center mb-5">
            </div><!--//app-branding-->  
            <div class="app-card p-5 text-center shadow-sm">
                <h1 class="page-title mb-4">403<br><span class="font-weight-light"><%= t('.title') %></span></h1>
                <div class="mb-4">
                    <%= t('.message') %>
                </div>
                <a class="btn app-btn-primary" href="index.html"><%= t('.button') %></a>
            </div>
        </div><!--//col-->
    </div><!--//row-->
</div><!--//container-->

<!-- Javascript -->          
<script src="assets/plugins/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>  


